<div class="app-container">
  <h1>Dynamic Table Example</h1>
  <div class="table-wrapper">
    <ngx-simple-datatables [columns]="columns" [data]="data" [rowHeight]="26" [headerHeight]="26">
      <ng-template #headerTemplate let-column="column">
        <span class="custom-header">{{ column?.header }}</span>
      </ng-template>
      <ng-template #cellTemplate let-row="row" let-column="column">
        <div>
          @switch (column.field) {
            @case ('id') {
              <div>
                <b>{{ row[column.field] }}</b>
              </div>
            }
            @default {
              <div>
                <span>{{ row[column.field] | json }}</span>
              </div>
            }
            @case ('actions') {
              <div>
                <button>{{ row[column.field] }}</button>
              </div>
            }
          }
        </div>

      </ng-template>
    </ngx-simple-datatables>

  </div>
</div>