<div class="app-container">
  <h1>Dynamic Table Example</h1>
  <div class="table-wrapper">
    <ngx-simple-datatables [columns]="columns" [data]="data" [rowHeight]="26" [headerHeight]="26">
      <ng-template #headerTemplate let-column="column">

        <span class="custom-header">{{ column?.header }}</span>


      </ng-template>
      <ng-template #cellTemplate let-row="row" let-column="column">
        <div [ngSwitch]="column.field">
          <div *ngSwitchCase="'id'">
            <b>{{ row[column.field] }}</b>
          </div>
          <div *ngSwitchDefault>
            <span>{{ row[column.field] | json }}</span>
          </div>
          <div *ngSwitchCase="'actions'">
            <button>{{ row[column.field] }}</button>
          </div>
        </div>

      </ng-template>
    </ngx-simple-datatables>

  </div>
</div>